@charset "ISO-8859-1";

.aggiunta {
  background: #ff80ff;
  padding: 35px;
  padding-top: 15px;
  border-style: solid;
  border-color: #000000;
}

.aggiunta h1 {
	text-align:center;
}
.aggiunta h3 {
	text-align:center;
}

#absoluteCenteredDiv{
     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width:500px;
     height:500px;
}

.tipoDiv{
  display: none;
}

.regioneDiv{
  display: none;
}

.cadenzaDiv{
  display: none;
}

.buttonIscriviti{
  margin: 0;
  position: absolute;
  left: 50%;
  bottom:5%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
