@charset "ISO-8859-1";

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header */
.header {
  width:100%;
  padding: 35px;
  text-align: center;
  background: #1abc9c;
  color: white;
  border-style: solid;
  border-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999; 
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 30px;
}

/* Main column */
.main { 
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  height:100%;
  background-color: #111;
}
/* Sidebar*/
.sidebar {
  -ms-flex: 16%; /* IE10 */
  flex: 16%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  height:100%;
  top:191px;
  background-color: #111;
  padding-top: 15px;
}
.sidebar label {
  display: block;
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  color: #818181;
}
.sidebar label:hover {
  color: #f1f1f1;
}
 .date label {
  padding-left: 40px;
  width: 250px;
  font-size: 14px;
}

.content { 
  -ms-flex: 84%; /* IE10 */
  flex: 84%;
  background-color:#bceffe;
  padding-top:10px;
  padding: 20px;
}

/* Event */
.event { 
  background-color:#bddcfd;
  padding-top:10px;
  padding: 20px;
  border-style: double;
  position: relative;
}

.event a{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/* Footer */
.footer {
  width:100%;
  padding: 15px;
  text-align: center;
  background: #8bf3c1;
  color: white;
  border-style: solid;
  border-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
