<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <display-name>Mercury</display-name>
  <welcome-file-list>
    <welcome-file>ServletEventi</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEventi</display-name>
    <servlet-name>ServletEventi</servlet-name>
    <servlet-class>controller.ServletEventi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEventi</servlet-name>
    <url-pattern>/ServletEventi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGestione</display-name>
    <servlet-name>ServletGestione</servlet-name>
    <servlet-class>controller.ServletGestione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGestione</servlet-name>
    <url-pattern>/ServletGestione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAggiungiEvento</display-name>
    <servlet-name>ServletAggiungiEvento</servlet-name>
    <servlet-class>controller.ServletAggiungiEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAggiungiEvento</servlet-name>
    <url-pattern>/ServletAggiungiEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFiltro</display-name>
    <servlet-name>ServletFiltro</servlet-name>
    <servlet-class>controller.ServletFiltro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFiltro</servlet-name>
    <url-pattern>/ServletFiltro</url-pattern>
  </servlet-mapping>
  
</web-app>